.image-icon {
  position: absolute;
  top: 66px;
  left: 1787px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.divider-icon {
  position: absolute;
  top: 174px;
  left: 520px;
  width: 1327px;
  height: 1px;
  object-fit: contain;
}
.welcome-kevin {
  text-decoration: none;
  position: absolute;
  top: 78px;
  left: 1576px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  color: inherit;
  white-space: pre-wrap;
}
.button-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 355.7px;
  height: 48.5px;
}
.tue {
  position: absolute;
  top: calc(50% - 20.2px);
  left: calc(50% - 30.85px);
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}
.button,
.group-child {
  position: absolute;
  width: 355.7px;
}
.button {
  top: 226.4px;
  left: 520px;
  height: 49.6px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.group-child {
  top: 11.6px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  height: 133px;
}
.div1 {
  position: absolute;
  top: 0;
  left: calc(50% - 28.85px);
  font-weight: 300;
  display: inline-block;
  min-width: 57px;
}
.rectangle-parent {
  position: absolute;
  top: 275px;
  left: 520px;
  width: 355.7px;
  height: 144.6px;
  cursor: pointer;
  font-size: 96px;
  color: var(--color-darkslateblue-200);
}
.attendance-records,
.choose-a-class {
  margin: 0;
  position: absolute;
  top: 231px;
  left: 1114px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
}
.choose-a-class {
  top: 318px;
  left: 1143px;
  color: var(--color-gray-200);
  display: inline-block;
  width: 558px;
  height: 72px;
}
.attendance-record {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 767px) {
  .tue {
    font-size: var(--font-size-5xl);
  }
  .div1 {
    font-size: var(--font-size-29xl);
  }
  .attendance-records,
  .choose-a-class {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 450px) {
  .welcome-kevin {
    font-size: var(--font-size-lgi);
  }
  .tue {
    font-size: var(--font-size-lg);
  }
  .attendance-records,
  .choose-a-class,
  .div1 {
    font-size: var(--font-size-10xl);
  }
}
